{% extends 'base.html' %}

{% block content %}
  <h1>Mi Primer CMS</h1>
  <div class="collapse navbar-collapse d-lg-flex justify-content-start" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO</a>
      </li>
      <li>
        <a class="nav-link gray-opacity" href="#">BACKEND</a>
      </li>
      <li>
        <a class="nav-link gray-opacity" href="#">FRONTEND</a>
      </li>
      <li>
        <a class="nav-link gray-opacity" href="#">INTELIGENCIA ARTIFICIAL</a>
      </li>
      <li>
        <a class="nav-link gray-opacity" href="#">MOVIL</a>
      </li>
      <li class="nav-item">
          <a class="nav-link gray-opacity" href="#">CONTACTO</a>
      </li>
    </ul>
  </div>
{% endblock %}

<!--
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid d-flex justify-content-end display-lg-none">
        <a class="gray-opacity" href="#">Iniciar sesión</a>
        <a class="gray-opacity margin-left-20" href="#">Registro</a>
      </div>
      <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand nav--title" href="#"></a>
    </nav>

-->
